<div class="todo">
  <h1>{{ title }}</h1>
  @if(!todoList.length)
  {
    <h3 id="congrats" >No tasks remaining.  Congratulations!</h3>
  }
  <ol>
    @for(t of todoList; track $index)
    {
      <li [class.completed]="t.completed">
        @if(!t.completed) {
          <button type="button" class="completeButton" (click)="completeTask(t)">Complete</button>
        }
        {{ t.task }} ({{ t.duration | number}} min)
        @if(t.priority == "High")
        {
          <p class="priorityArrow highP">&uarr; High Priorty</p>
        }
        @else if(t.priority == "Low")
        {
          <p class="priorityArrow lowP">&darr; Low Priorty</p>
        }
        <button type="button" class="removeButton" (click)="removeTask(t)">X</button>
      </li>
    }
  </ol>

  <div class="taskForm">
    <label for="inputTask">Enter a new task:</label>
    <br>
    <input id="inputTask" type="text" [(ngModel)]="formTask.task" />
    <br>
    <label for="inputDuration">How many minutes will this take?</label>
    <br>
    <input id="inputDuration" type="text" [(ngModel)]="formTask.duration" />
    <br>
    <label for="inputPriority">What is the priority level?</label>
    <div id="inputPriority">
      <label for="priorityHigh">High Priority</label>
      <input type="radio" class="inputBox" id="priorityHigh" value="High" [(ngModel)]="formTask.priority" />
      <label for="priorityNormal">Normal Priority</label>
      <input type="radio" class="inputBox" id="priorityNormal" value="Normal" [(ngModel)]="formTask.priority" />
      <label for="priorityLow">Low Priority</label>
      <input type="radio" class="inputBox" id="priorityLow" value="Low" [(ngModel)]="formTask.priority" />
      <br>
      <button class="addTaskButton" (click)="addTask()">Add Task</button>
    </div>
  </div>
</div>